{% extends "base.html.twig" %}
			{% block title %}{{parent()}}Types Cafés
			{% endblock %}
		{% block body %}Liste des Cafés

        {% for typeCafe in typeCafes %}
        <br/>
            {{typeCafe.designation | capitalize}}
            {{typeCafe.origine | capitalize}} <a href="{{path('app_modif_type_cafe',{'id':typeCafe.id})}}">Modifier</a>
        {% endfor %}
		{% endblock %}